.navbarFont{
    font-size: 22px;
    border-top: 3px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    background: #FFF;
    font-family: sans-serif; // need to use Roboto as in template
}

.navbar{
    padding: 0;
}

.hoverStyles {
    border-top: 3px solid transparent;
    top: -2px; // Just to overlap with grey border
}

.submenuStyles{
    background-color: #42494F;
    border-radius: 0 !important;
    //color: #FFF;

    & li{
        padding: 5px 0;
    }
    
    & a {
        color: #FFF;
        font-size: 19px;
    }

    & :hover {
        background-color: #596269;
    }

}


.active, .hoverStyles:hover{
    border-top: 3px solid #ED1C24 !important;
    background-color: #F0F0F0;

    & a:hover{
        text-decoration: none;
    }
}

.sticky_header {
    position: fixed;
    top: 0;
    z-index: 10;
}