

.row-c-title{
    border-left: 3px solid red;
    height: 2.5rem;
    background: #F0F0F0;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

