<div class="row " style="margin-top: 40px;">
    <div class="col-12 col-sm-8">

        <ngb-carousel #carousel [interval]="2500" [pauseOnHover]="true" [pauseOnFocus]="true"
            (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption" (click)="fnCarouselItemClick()">
                    <h3>My slide {{i + 1}} title</h3>
                </div>
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="My image {{i + 1}} description" />
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
        
    </div>
    <div class="col-12 col-sm-4 mt-3 mt-sm-0" style="background-color: lightsalmon;">
        <div class="row">
            <div class="col-6">Btn 1</div>
            <div class="col-6">Btn 2</div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                List goes here ...
            </div>
        </div>
    </div>
</div>