<div class="main_content_container">

    <app-navbar></app-navbar>
    <!-- <div class="menu_container clearfix">
        <ul class="sf-menu">
            <li class="submenu">
                <a>Cat AAAA</a>
                 <ul class="innerMenu">
                    <li>
                        <a href="authors.html" title="Authors List">
                            Authors List
                        </a>
                    </li>
                    <li>
                        <a href="author.html" title="Author Single">
                            Author Single
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a >Cat B</a>
            </li>   
            <li class="submenu">
                <a >Cat C</a>
            </li>
            <li class="submenu">
                <a >Cat DDDDDDDD</a>
            </li>
            <li class="submenu">
                <a >Cat EEE</a>
            </li>
            <li class="submenu">
                <a >Cat F</a>
            </li>
            <li class="submenu">
                <a >Cat GGGGGG</a>
            </li>
            
        </ul>
    </div> -->

    <div class="main_content">
        <div class="clearfix">
            <app-main-row-a></app-main-row-a>
            <app-main-row-b></app-main-row-b>
            <app-main-row-c></app-main-row-c>
        </div>
    </div>
</div>
