
.main_content_container {
    color: red;

    & .menu_container {
        border-top: 3px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        background: #FFF;
    }

        & .menu_list_container {
            border-top: 3px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            background: #FFF;

            width: 1050px;
            margin-left: auto;
            margin-right: auto;


            // width: 1050px;
            // list-style: none;
            // margin-left: auto;
            // margin-right: auto;
            // margin-top: -3px;
            // margin-bottom: -3px;

            // & li {
            //     position: relative;
            //     float: left;
            //     height: 42px;
            // }

            // & .submenu {
            //     border-top-color: #ED1C24;
            //     border-bottom-color: #F0F0F0;
            //     padding-right: 0;
            //     margin: 0;
            //     padding: 0;
            //     list-style: none;
            //     display: flex;
            //     align-items: center;
            // }
        }
}

.sf-menu {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 0;
    line-height: 1.0;
    list-style: none;
    margin-top: -3px;
}

.submenu {
    margin-bottom: -1px;
    height: 42px;
    border: none;
    border-top: 3px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    float: left;
    position: relative;
    list-style: none;
    display: flex;
    margin-right: 30px;
    padding: 0 8px;

    &:hover {
        cursor: pointer;
        border-top: 3px solid red;
        background-color: #F0F0F0;
    }

    & a {
        margin: auto;
        background-image: url(../../../../assets/images/menu_arrow.png);
        background-repeat: no-repeat;
        background-position: center right;
        background-color: transparent;
        padding-right: 15px;
        border-right: 15px solid transparent;

        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        color: #25282A;
        border: none;
    }
}

.innerMenu {
    background: #363b40;
    width: 210px;
    margin-top: 1px;
    color: #D7DCE0;
    position: absolute;
    top: 42px;
    list-style: none;

    & a {
        color: #D7DCE0;
    }
}

.main_content {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    padding-bottom: 50px;
}